@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* Fresh Life */
.fresh-life {
  background: #f9f8fb url("../images/img.jpg") 50% no-repeat;
  background-size: cover;
  height: 1000px;
}

.fresh-life__container {
  height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__nav-ul {
  margin: 0;
  padding: 0;
  width: 560px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-ul__nav-item {
  padding: 5px 0;
  border-top: 3px solid #ffffff00;
}

.nav-ul__nav-item:hover {
  border-top: 3px solid #ff6033;
}

.nav-item__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #262626;
  font-weight: 700;
  text-decoration: none;
}

.fresh-life__text-container {
  width: 370px;
  margin-top: 250px;
}

.text-container__tittle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
}

.text-container__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.5;
}

.text-container__button {
  width: 200px;
  height: 55px;
  border: 0;
  background-color: #ff6033;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.scroll-img {
  align-self: center;
  position: absolute;
  bottom: 70px;
}

/* Fresh Life  End*/
/* About Us */
.about-us {
  background-color: #00b4b4;
  width: 100%;
}

.about-us__container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us__image {
  width: 650px;
  height: 620px;
}

.about-us__info {
  width: 510px;
  color: #fff;
}

.info__tittle {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}

.info__description {
  padding-top: 15px;
  line-height: 1.6;
  font-size: 17px;
  font-weight: 300;
}

/* About us End */
/* Services */
.services {
  width: 100%;
  background-color: #70bfff;
  position: relative;
}

.services__image {
  position: absolute;
  right: 165px;
  bottom: 160px;
}

.services__container {
  height: 790px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #70bfff;
}

.services__tittle {
  z-index: 1;
  font-size: 90px;
  color: #fff;
}

.services__list {
  width: 400px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services-list__item {
  text-decoration: none;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #262626;
}

.services-list__item:active,
.services-list__item:visited {
  color: #262626;
}

.item__tittle {
  width: 300px;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  font-size: 20px;
}

.item__img-box {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-left: 1px solid #9d9d9d;
}

/* Services End */
/* Gallery */
.gallery {
  background-color: #ffe92f;
  padding: 90px 0 115px 0;
  color: #262626;
}

.gallery-container,
.blog__container {
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.article-tittle {
  font-size: 90px;
}

.article-description {
  font-size: 17px;
  line-height: 1.5;
  color: #262626;
  font-weight: 300;
  align-self: center;
}

.gallery-header__tittle {
  margin-bottom: 45px;
}

.gallery-container__photo-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 980px;
}

.photo-box__item {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.photo-box__peach {
  width: 770px;
  height: 550px;
}

.photo-box__berry,
.berry-box {
  width: 370px;
  height: 260px;
}

.photo-box__glass,
.photo-box__fruit {
  height: 400px;
  width: 570px;
}

.berry-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}

.gallery-container__button,
.blog-container__button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 55px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  background-color: #5585a2;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

/* Gallery End */
/* Subscribe  */
.subscribe {
  width: 100%;
  background: url("../images/bg-berry.jpg") 50% no-repeat;
  background-size: cover;
}

.subscribe__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
}

.subscribe__subscribe-header {
  width: 540px;
  height: 120px;
}

.subscribe-header__tittle {
  font-size: 40px;
  color: #262626;
  font-weight: 700;
}

.subscribe-header__description {
  margin-top: 30px;
  font-size: 17px;
  line-height: 1.3;
  color: #262626;
  font-weight: 300;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 770px;
  height: 55px;
}

.email-input {
  width: 570px;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 15px;
  color: #262626;
  font-family: "Raleway";
  font-weight: 300;
  border: 1px solid #262626;
}

.form__button {
  width: 170px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #96b92c;
  font-size: 20px;
  color: #fff;
  border: none;
  font-weight: 300;
}

/* Subscribe End */
/* Blog */
.blog {
  width: 100%;
  background-color: #b07cf7;
  color: #fff;
}

.blog__container {
  padding-top: 100px;
  padding-bottom: 120px;
}

.blog-header__tittle {
  margin-bottom: 30px;
}

.blog-header__description {
  color: #fff;
}

.blog__item-container {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
}

.blog__item {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 370px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__item--first {
  background: linear-gradient(to bottom, transparent 55%, black 110%), url("../images/green.jpg");
}

.blog__item--second {
  background: linear-gradient(to bottom, transparent 55%, black 110%), url("../images/soup.jpg");
}

.blog__item--third {
  background: linear-gradient(to bottom, transparent 55%, black 110%), url("../images/malina.jpg");
}

.blog-item__date {
  margin: 10px 0 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 21px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgba(38, 38, 38, 0.4);
}

.date__number {
  font-size: 32px;
}

.blog-item__description {}

.item-description__tittle {
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 20px;
}

.item-description__author {
  font-size: 13px;
  font-weight: 300;
}

.blog-container__button {
  background-color: #f72b3b;
}

/* Blog End */
/* Footer */
.contact {
  padding-top: 100px;
  padding-bottom: 120px;
  width: 100%;
  background: url("../images/footer-bg.jpg") 50% no-repeat;
  background-size: cover;
}

.contact__header {
  margin-bottom: 40px;
}

.contact-header__tittle {
  margin-bottom: 45px;
}

.form__container {
  display: flex;
  justify-content: space-between;
}

.contact__form {
  width: 500px;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__info {
  width: 500px;
}

.form__input,
.form__textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-left: 5px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 196, 196, 0.5);
  padding-left: 20px;
  font-size: 15px;
  font-family: "Raleway";
  font-weight: 300;
  color: #fff;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #fff;
}

.form__input {
  height: 50px;
}

.form__textarea {
  height: 250px;
  padding-top: 20px;
  resize: none;
}

.form__input:hover,
.form__textarea:hover {
  background-color: #00c4c4;
  border-left: 5px solid #355b82;
}

.form-info__tittle {
  font-size: 17px;
  color: #262626;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

.info__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 17px;
