
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.main{

}
/* Fresh Life */
.fresh-life{
  background: #f9f8fb url("../images/img.jpg") 50% no-repeat;
  background-size: cover;
  height: 1000px;
}
.fresh-life__container{
  height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
.header{
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__nav-ul{
  margin: 0;
  padding: 0;
  width: 560px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-ul__nav-item{
  padding: 5px 0;
  border-top: 3px solid #ffffff00;
}
.nav-ul__nav-item:hover{
  border-top: 3px solid #ff6033;
}
.nav-item__link{
  font-size: 16px;
  text-transform: uppercase;
  color: #262626;
  font-weight: 700;
  text-decoration: none;
}
.fresh-life__text-container{
  width: 370px;
  margin-top: 250px;
}
.text-container__tittle{
  margin: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
.text-container__text{
  margin: 0;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 1.5;
}
.text-container__button{
  width: 200px;
  height: 55px;
  border: 0;
  background-color: #ff6033;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
.scroll-img{
  align-self: center;
  position: absolute;
  bottom: 70px;
}
/* Fresh Life */

/* About Us */
.about-us{
  background-color: #00b4b4;
  width: 100%;
}
.about-us__container{
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us__image{
  width: 650px;
  height: 620px;
}
.about-us__info{
  width: 510px;
  color: #fff;
}
.info__tittle{
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 10px;
}
.info__description{
  padding-top: 15px;
  line-height: 1.6;
  font-size: 17px;
  font-weight: 300;
}
/* About us */

/* Services */
.services{
  width: 100%;
  background-color: #70bfff;
  position: relative;
}
.services__image{
  position: absolute;
  right: 165px;
  bottom: 160px;
}
.services__container{
  height: 790px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #70bfff;
}
.services__tittle{
  z-index: 1;
  font-size: 90px;
  color:#fff;
}
.services__list{
  width: 400px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-list__item{
  text-decoration: none;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #262626;
}
.services-list__item:active,
.services-list__item:visited{
  color: #262626;
}
.item__tittle{
  width: 300px;
  text-align: center;
  line-height: 1.2;
  font-weight: 700;
  font-size: 20px;
}
.item__img-box{
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-left: 1px solid #9d9d9d;
}
